@model EShop.Domain.DTOs.Product.ProductColor.CreateProductColorDto

@{
    ViewData["Title"] = "ایجاد رنگ جدید";
}

<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-xl">
        <div class="nk-content-body">
            <div class="components-preview wide-xl mx-auto">
                <!-- .nk-block-head -->
                <div class="nk-block nk-block-lg">
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h4 class="title nk-block-title">@ViewData["Title"]</h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <form asp-area="Administration" asp-controller="Product" asp-action="CreateProductColor" method="post" id="create_product_form">
                                <div class="row g-gs">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">نام رنگ</label>
                                            <div class="form-control-wrap">
                                                <input id="product_color_name_input" asp-for="ColorName" type="text" class="form-control">
                                                <span asp-validation-for="ColorName" class="invalid"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">کد رنگ</label>
                                            <div class="form-control-wrap">
                                                <input id="product_color_code_input" asp-for="ColorCode" type="color" class="form-control">
                                                <span asp-validation-for="ColorCode" class="invalid"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">قیمت مضاف</label>
                                            <div class="form-control-wrap">
                                                <input id="product_color_price_input" asp-for="Price" type="number" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <a id="add_color_button" class="btn btn-round btn-primary" style="margin-top:30px;" title="افزودن رنگ">
                                                <i class="icon ni ni-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <br />
                                    <table id="default-datatable" class="table table-bordered table-striped text-center dataTable" role="grid" aria-describedby="default-datatable_info">
                                        <thead class="bg-warning text-dark">
                                            <tr role="row">
                                                <th class="sorting">نام رنگ</th>
                                                <th class="sorting">قیمت رنگ مضاف</th>
                                                <th class="sorting">رنگ</th>
                                                <th class="sorting">دستورات</th>
                                            </tr>
                                        </thead>
                                        <tbody id="list_of_product_colors">
                                        </tbody>
                                    </table>
                                    <br />
                                    <hr />
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg btn-primary">ذخیره اطلاعات</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- .nk-block -->
            </div>
            <!-- .components-preview -->
        </div>
    </div>
</div>
