@using EShop.Application.EntitiesExtentions
@model List<EShop.Domain.Entities.Site.Slider>

<section class="main-slider">
    <div class="container-fluid position-relative">
        <!-- Adding a heading for SEO purposes, but hiding it visually -->
        <h2 class="section-title visually-hidden">اسلایدر</h2> <!-- Hidden from view but present for SEO -->
        @if (Model is not null)
        {
            <div class="slider">
                <div class="swiper" id="homeSlider">
                    <div class="swiper-wrapper">
                        @foreach (var slide in Model)
                        {
                            <div class="swiper-slide">
                                <a href="@slide.Link">
                                    <img src="@slide.GetSliderImageAddress()" alt="@slide.Description" title="@slide.Description" class="img-fluid w-100">
                                </a>
                            </div>
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        }
        else
        {
            <partial name="NoItemFound" />
        }
    </div>
</section>